/* #region border box */
*,
*::before,
*::after {
     box-sizing: border-box;
   }

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}   

/* #region Reset styles */

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
 }

 img {
  display: block;
  max-width: 100%; 
  height: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
      }

.container { 
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;
 }

.page-header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
    }


.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px
}

.header-logo .logo-part {
    color: #2e2f42;
    margin-right: 76px;
    padding: 24px 0;
}

.footer-logo .logo-part {
    color: #f4f4fd;
  }

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}


.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    margin: auto;
}

.footer-container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 16px;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    padding-top: 16px;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
       }

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
}



.contacts {
    font-style: normal;
   }


.contacts-list {
    gap: 40px;
    list-style: none;
    padding: 24px 0;
    display: flex;       
}

.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color:#404bbf;
}


.section-hero {
   background-color: #2e2f42;
   padding: 188px 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
          }

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
   background-color: #4d5ae5;
   color: #f4f4fd;
   cursor: pointer;
   padding: 16px 32px;
   border: none;
   border-radius: 4px;
   min-width: 169px;
   text-align: center;
   display: block;
   margin: 48px auto 0 auto;
}

.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

      

.section-gallery {
    background-color: #F4F4FD;
    padding: 120px 0;
    text-align: center;
    }


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
       }

.card-info {
    padding: 32px 0;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.card-title {
    margin-bottom: 8px;
    text-align: center;
}

.item-gallery {
    background: #fff;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
   } 

.card {
       border-radius: 0 0 4px 4px;
       overflow: hidden;
       text-align: center;
   }

.card-team {
    padding: 32px 0;
 }

.team-title {
    text-align: center;
    margin-bottom: 8px;
  }

.team-text {
    text-align: center;
}

.card-info {
    padding: 32px 16px;
   }

  
.card-title {
       text-align: left;
       margin-bottom: 8px;
   }

.card-text {
       text-align: left;
   }

.section-about {
   background-color: #fff;
   padding: 120px 0;
         }

.about-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 0 156px;
    margin-bottom: 8px;
         }

.about-item { 
    width: calc((100% - 72px) / 4);
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
         }
.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}         

.section-portfolio {
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    
}

.gallery-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0px;
  } 
        
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    margin-bottom: 72px;
   
    }

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    list-style: none;
    text-align: left;
}